/* Font found here: https://www.dafont.com/norse.font */
@font-face {
  font-family: 'norseregular';
  src: url('../assets/fonts/norse-kawl-webfont.woff2') format('woff2'),
       url('../assets/fonts/norse-kawl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  position: absolute;
}

/* Vignette effect found here: https://codepen.io/Ragnarokkr/pen/DWQPPM */
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

#main-container {
  min-height: 100%;
  background-image: url('../assets/obelisk.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: top;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  text-align: center;
  font-family: 'norseregular', sans-serif;
  font-size: 50px;
  margin: 0;
}

#message {
  text-align: center;
  font-family: 'norseregular', sans-serif;
  font-size: 40px;
  margin-top: 80px;
  background-color: rgba(130, 130, 130, 0.5);
  width: 33%;
  border-radius: 10px;
  border: solid 2px rgba(79, 79, 78,0.75);
  box-shadow: inset 0 0 10px #000000;
}

input {
  text-transform: uppercase;
  font-family: 'norseregular', sans-serif;
  background-color: rgba(156,156,156,0.5);
  color: rgba(136, 8, 8, 0.65);
  border-radius: 10px;
  border-color: rgba(79, 79, 78,0.5);
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  caret-color: transparent;
  /* box-shadow: 0px -5px 10px 0px rgba(79, 79, 78,0.5) */

}

input:hover {
  cursor: pointer;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid black 3px; */
  min-width: 33%;
  margin-top: 10vh;
  gap: 7px; 
}

button {
  background-color: rgba(156,156,156,0.5);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  font-family: 'norseregular', sans-serif;
  font-size: 30px;
  border: solid gray 2px;
}

button:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

#btn-group {
  margin-top: 10px;
}

.cell {
  width: 50px;
  height: 50px;
}

.disable-input {
  pointer-events: none;
}

/* Text glow and animation found here: https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.correctAnswerGlow {
  color: #fff;
  -webkit-animation: correctAnswerGlow 1s ease-in-out infinite alternate;
  -moz-animation: correctAnswerGlow 1s ease-in-out infinite alternate;
  animation: correctAnswerGlow 1s ease-in-out infinite alternate;
  background-color: transparent;
}

@-webkit-keyframes correctAnswerGlow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #079f28, 0 0 40px #079f28, 0 0 50px #079f28, 0 0 60px #079f28, 0 0 70px #079f28;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0ac232, 0 0 40px #0ac232, 0 0 50px #0ac232, 0 0 60px #0ac232, 0 0 70px #0ac232, 0 0 80px #0ac232;
  }
}

.wrongPositionGlow {
  color: #fff;
  -webkit-animation: wrongPositionGlow 1s ease-in-out infinite alternate;
  -moz-animation: wrongPositionGlow 1s ease-in-out infinite alternate;
  animation: wrongPositionGlow 1s ease-in-out infinite alternate;
  background-color: transparent;
}

@-webkit-keyframes wrongPositionGlow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c2c727, 0 0 40px #c2c727, 0 0 50px #c2c727, 0 0 60px #c2c727, 0 0 70px #c2c727;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e2e838, 0 0 40px #e2e838, 0 0 50px #e2e838, 0 0 60px #e2e838, 0 0 70px #e2e838, 0 0 80px #e2e838;
  }
}

.wrongAnswerGlow {
  color: #000000;
  -webkit-animation: wrongAnswerGlow 1s ease-in-out infinite alternate;
  -moz-animation: wrongAnswerGlow 1s ease-in-out infinite alternate;
  animation: wrongAnswerGlow 1s ease-in-out infinite alternate;
  background-color: transparent;
}

@-webkit-keyframes wrongAnswerGlow {
  from {
    text-shadow: 0 0 10px #373737, 0 0 20px #fff, 0 0 30px #222222, 0 0 40px #222222, 0 0 50px #222222, 0 0 60px #222222, 0 0 70px #303030;
  }
  to {
    text-shadow: 0 0 20px #fafafa, 0 0 30px #303030, 0 0 40px #303030, 0 0 50px #303030, 0 0 60px #303030, 0 0 70px #303030, 0 0 80px #303030;
  }
}