/* Font found here: https://www.dafont.com/norse.font */
@font-face {
  font-family: 'norseregular';
  src: url('../assets/fonts/norse-kawl-webfont.woff2') format('woff2'),
       url('../assets/fonts/norse-kawl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  background-color: black;
  border: solid white 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  background-attachment: scroll;
}

/* Vignette effect found here: https://codepen.io/Ragnarokkr/pen/DWQPPM */
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

#main-container {
  min-height: 100%;
  background-image: url('../assets/obelisk.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: top;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid white 5px; */
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5em;
  margin: 5px 20px;
  font-family: 'norseregular', sans-serif;
}

#wins-display,
#rank-display {
  margin: 0 20px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
}

#title {
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding: 0px 0;
  /* margin-right: 100px; */
}

#message {
  text-align: center;
  font-family: 'norseregular', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 0;
  background-color: transparent;
  width: 100%;
}

#msg-text {
  /* background-color: rgba(130, 130, 130, 0.5); */
  /* border-radius: 10px;
  border: solid 2px rgba(79, 79, 78,0.75);
  box-shadow: inset 0 0 10px #000000; */
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  padding: 10px;
  width: 100%;
}

input {
  text-transform: uppercase;
  font-family: 'norseregular', sans-serif;
  background-color: rgba(156,156,156,0.5);
  color: rgba(136, 8, 8, 0.65);
  border-radius: 10px;
  border-color: rgba(79, 79, 78,0.5);
  text-align: center;
  font-size: 40px;
  /* font-size: 3vw; */
  font-weight: bolder;
  caret-color: transparent;
  padding: 0.43em 0.05em; 
  line-height:1.25em; 
  height: 1.25em;
  /* box-shadow: 0px -5px 10px 0px rgba(79, 79, 78,0.5) */
}

input:hover {
  cursor: pointer;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid black 3px; */
  min-width: 33%;
  margin-top: 1em;
  gap: 7px; 
}

button {
  background-color: rgba(156,156,156,0.5);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
  font-family: 'norseregular', sans-serif;
  font-size: 30px;
  border: solid gray 2px;
  color: black;
}

button:active {
  transform: scale(0.98);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

#btn-group {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cell {
  width: 50px;
  height: 50px;
}

.disable-input {
  pointer-events: none;
}

/* Text glow and animation found here: https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.correctAnswerGlow {
  color: #fff;
  -webkit-animation: correctAnswerGlow 1s ease-in-out infinite alternate;
  -moz-animation: correctAnswerGlow 1s ease-in-out infinite alternate;
  animation: correctAnswerGlow 1s ease-in-out infinite alternate;
  background-color: transparent;
}


@-webkit-keyframes correctAnswerGlow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #079f28, 0 0 40px #079f28, 0 0 50px #079f28, 0 0 60px #079f28, 0 0 70px #079f28;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0ac232, 0 0 40px #0ac232, 0 0 50px #0ac232, 0 0 60px #0ac232, 0 0 70px #0ac232, 0 0 80px #0ac232;
  }
}

.wrongPositionGlow {
  color: #fff;
  -webkit-animation: wrongPositionGlow 1s ease-in-out infinite alternate;
  -moz-animation: wrongPositionGlow 1s ease-in-out infinite alternate;
  animation: wrongPositionGlow 1s ease-in-out infinite alternate;
  background-color: transparent;
}

@-webkit-keyframes wrongPositionGlow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c2c727, 0 0 40px #c2c727, 0 0 50px #c2c727, 0 0 60px #c2c727, 0 0 70px #c2c727;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e2e838, 0 0 40px #e2e838, 0 0 50px #e2e838, 0 0 60px #e2e838, 0 0 70px #e2e838, 0 0 80px #e2e838;
  }
}

.wrongAnswerGlow {
  color: #000000;
  -webkit-animation: wrongAnswerGlow 1s ease-in-out infinite alternate;
  -moz-animation: wrongAnswerGlow 1s ease-in-out infinite alternate;
  animation: wrongAnswerGlow 1s ease-in-out infinite alternate;
  background-color: transparent;
}

@-webkit-keyframes wrongAnswerGlow {
  from {
    text-shadow: 0 0 10px #373737, 0 0 20px #fff, 0 0 30px #222222, 0 0 40px #222222, 0 0 50px #222222, 0 0 60px #222222, 0 0 70px #303030;
  }
  to {
    text-shadow: 0 0 20px #fafafa, 0 0 30px #303030, 0 0 40px #303030, 0 0 50px #303030, 0 0 60px #303030, 0 0 70px #303030, 0 0 80px #303030;
  }
}

.messageGlow {
  background-color: white;
  color: white;
}

@-webkit-keyframes messageGlow {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); } 
}

@media only screen and (max-width: 600px) {
  button {
    font-size: 20px;
  }

  #wins-display,
  #rank-display {
    font-size: 20px;
    margin: 0 0px;
    width: 150px;
  }

  header {
    gap: 0.5em;
    margin: 5px 0px;
  }
}

/* @media screen and (max-device-width: 480px){
  input{
    -webkit-text-size-adjust: 100%;
  }
}

@media screen and (max-width: 1200px){
  #board{
    margin-top: 4vh;
  }
  header {
    font-size: 80%;
  }
} */
