@font-face {
  font-family: 'norseregular';
  src: url('../assets/fonts/norse-kawl-webfont.woff2') format('woff2'),
       url('../assets/fonts/norse-kawl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  min-height: 100%;
  background-image: url('../assets/obelisk.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

input {
  text-transform: uppercase;
  font-family: 'norseregular';
  background-color: rgba(156,156,156,0.5);
  border-radius: 10px;
  border-color: rgba(79, 79, 78,0.5);
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  caret-color: transparent;
  
}

input:hover {
  cursor: pointer;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid black 3px; */
  min-width: 33%;
  margin-top: 15vh;
  gap: 7px;
}

#row0 {
  
}

.cell {
  width: 50px;
  height: 50px;
  
}